@tailwind base;
@tailwind components;
@tailwind utilities;

/* 백그라운 색상 */
.bg1 {
    background-color: #FFD6C2;
}

.bg2 {
    background-color: #FFBCA1;
}

.bg3 {
    background-color: #FF9D7B;
}

.bg4 {
    background-color: #FF734D;
}

.bg5 {
    background-color: #FF6035;
}

.bg-blue1 {
    background-color: #DBEFFD;
}

.bg-blue2 {
    background-color: #B4DAFB;
}

.bg-blue3 {
    background-color: #7EBCF9;
}

.bg-blue4 {
    background-color: #3C81E1;
}

.bg-gray1 {
    background-color: #E5E5E5;
}

.bg-gray2 {
    background-color: #f2f2f2;
}

.bg-gray3{
    background-color: #e0e0e0;
}

.bg-white{
    background-color: #fff;
}

/* border color */
.border-gary1{
    border-color: #333333;
}

.border-gary2 {
    border-color: #F2F2F2;
}

.border-gary3{
    border-color: #bdbdbd;
}

.border-gary4{
    border-color: #C1C1C1;
}

.border-color2{
    border-color: #B4DAFB;
}

.border-color3 {
    border-color: #FF9D7B;
}

.border-color4 {
    border-color: #e0e0e0;
}


.border-color5{
    border-color: #828282;
}

.border-orange4{
    border-color: #FF734D;
}

.border-orange5{
    border-color: #FF6035;
}

.border-blue4 {
    border-color: #3C81E1;
}

/* text color */

.textGray1 {
    color: #333333;
}

.textGray2 {
    color:#4F4F4F;
}

.textGray3{
    color: #828282;
}

.textGray4{
    color: #BDBDBD;
}

.textOrange1{
    color: #FFD6C2;
}

.textOrange3 {
    color: #FF9D7B;
}

.textOrange4 {
    color: #FF734D;
}

.textOrange5 {
    color: #FF6035;
}

.textBlue1{
    color: #7EBCF9
}

.textBlue4 {
    color: #3C81E1;
}

.textWhite{
    color: #ffffff;
}

/* checkBox */
.checkbox{
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 4px;
}

.z-100 {
    z-index: 100;
}

.h-15 {
    height: 60px;
}

.w-30 {
    width: 120px;
}

.h-30 {
    height: 120px;
}

.w-90 {
    width: 360px;
}

.h-90 {
    height: 360px;
}

.border-b-3 {
    border-bottom-width: 3px;
}

.mr-25 {
    margin-right: 100px;
}

.leading-12 {
    line-height: 48px;
}

.text {
    position: relative;
    letter-spacing: -0.52px;
    max-height: 100%;
    font-size: 13px;
    color: black;
}

.text-close {
    position: relative;
    letter-spacing: -0.52px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cluster_click {
    background-color: #fff !important;
    color: #ff734d !important;
    border: 1.5px solid #ff734d;
}

.top-29 {
    top: 116px;
}