@tailwind base;
@tailwind components;
@tailwind utilities;

/* 백그라운 색상 */
.bg1 {
    background-color: #FFD6C2;
}

.bg2 {
    background-color: #FFBCA1;
}

.bg3 {
    background-color: #FF9D7B;
}

.bg4 {
    background-color: #FF734D;
}

.bg5 {
    background-color: #FF6035;
}

.bg-blue1 {
    background-color: #DBEFFD;
}

.bg-blue2 {
    background-color: #B4DAFB;
}

.bg-blue3 {
    background-color: #7EBCF9;
}

.bg-blue4 {
    background-color: #3C81E1;
}

.bg-gray1 {
    background-color: #E5E5E5;
}

.bg-gray2 {
    background-color: #f2f2f2;
}

.bg-white{
    background-color: #fff;
}

/* border color */
.border-gary2 {
    border-color: #F2F2F2;
}

.border-gary3{
    border-color: #bdbdbd;
}

.border-color3 {
    border-color: #FF9D7B;
}

.border-color4 {
    border-color: #e0e0e0;
}

/* text color */

.textGray1 {
    color: #333333;
}

.textGray2 {
    color:#4F4F4F;
}

.textGray3{
    color: #828282;
}

.textOrange3 {
    color: #FF9D7B;
}

.textOrange5 {
    color: #FF6035;
}

/* checkBox */
.checkbox{
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 4px;
}