.toggle-switch {
    position: relative;
    width: 46px;
    display: inline-block;
    text-align: left;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 26px;
    padding: 0;
    line-height: 26px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "";
    padding-left: 10px;
    background-color: #3C81E1;
    color: #fff;
}

.inner:after {
    content: "";
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
}

.switch {
    display: block;
    width: 22px;
    height: 22px;
    margin: auto;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 21px;
    border: 0 solid #bbb;
    border-radius: 11px;
    transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .switch {
    right: 2px;
}