.top {
    @apply flex px-4 pt-10 pb-3 space-x-4 border-b;

    border-color: #e0e0e0;
}

.top span {
    @apply rounded-full w-9 h-9 bg-green-500 mr-3;
    
}

.avartarOn{
    border-color: red;
    border-width: 5px;
}

.add{
    @apply w-9 h-9 rounded-full

}